{% extends "blogonymous/base.html"%}

{% block main %}
<center>
<h1>{{p.question}}</h1>
<p>{{p.desc}}</p>
{% for answer in q reversed %}
<h4>{{answer.headline}}</h4>
<p>{{answer.body_text|linebreaks|truncatewords:100}}</p>
<a href="/blogonymous/post/{{p.id}}/{{answer.id}}/">See full post</a>
<form action="/blogonymous/single/{{ p.id }}/upvote/" method="post">
{% csrf_token %}
<input type="hidden" name="headline" id="headline{{ forloop.counter }}" value="{{ answer.id}}" />
<input type="submit" class="primary" value="upvote" />
</form>
{% endfor %}</center>
{% endblock main%}
