{% extends "base.html"%}

{% block main %}
<div id="main" class="center">
<h1>About</h1>
<br />
<p>Essayer is the French word for “to try”. That's what this site is: an attempt.
<br /><br />
It's an attempt to create a space where people can be honest and open about topics that are important to them. 
<br /><br />
The format is Question & Answer in the belief that it encourages new ways of seeing the world. Maybe someone will phrase a question in a way that you never could have and you can answer it in a way they hadn't imagined.
<br /><br />
The hope is that by allowing users to share their stories and thoughts in a place that is clutter free and simple, we’ll create a mosaic of essays and stories that open up some interesting avenues of thought.
<br /><br />
The only thing we ask is that you approach Essayr earnestly.
<br /><br />
The project is inspired by my friends' experiences with writing and <a href="http://www.paulgraham.com/essay.html">this essay</a> by Paul Graham.
</p>
</div><!--closes div main-->


{% endblock main %}
