{% extends "base.html"  %}

{% block main%}

<div id="main" class="center">
<h1>Submit a question</h1>
<div id="writing" >
	<form action="/question/enter/" method="post">
	{% csrf_token %}
	<textarea id="headline" name="question" value="kldfj" class="input">Title of your post</textarea>
	</br></br>
	<textarea id="description" name="desc" class="input">Enter a brief description here.</textarea>
	</br></br>
	<input type="submit" value="Post your question"  class="upvote">
	</form>
</div> <!--closes #writing-->	

</div><!--closes main-->
{% endblock main %}
