{% extends "base.html"%}

{% block main %}
<div id="main" class="center">
<p class="question" class="center">{{p.question}}</p>
<p class="description" class="center">{{p.desc}}</p>
<br />
</div><!--closes main-->
{% for answer in q reversed %}
	<div id="response_item" class="center">
	<h5>{{answer.headline}}...</h5>
	<p>{{answer.body_text|linebreaks|truncatewords:100}}</p>
	<a href="/post/{{p.id}}/{{answer.id}}/">See full post</a>
	<form action="/single/{{ p.id }}/upvote/" method="post" >
	{% csrf_token %}
	<input type="hidden" name="headline" id="headline{{ forloop.counter }}" value="{{ answer.id}}" />
	<input type="submit" class="upvote" value="upvote"/>
	</form>
	</div>
{% endfor %}
{% endblock main%}
